@model toDoList.Models.doesList

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.task)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.task)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dList)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dList)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
